@charset "UTF-8";

/*共通部分*/

html{
    font-size: 100%;/*ユーザーの設定した文字サイズを反映*/
    
}

body{
    
    font-family:"M PLUS 1","Zen Kaku Gothic New", sans-serif;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    gap: 0;

    color: #000;
    background: #fff;
    
    
}
.bg-grid{
    position: fixed;
    inset: 0;
    z-index: -2; 
    /* 方眼紙模様に必須のスタイル */
    background-image: linear-gradient(0deg, transparent calc(100% - 1px), #a7def7 calc(100% - 1px)),
    linear-gradient(90deg, transparent calc(100% - 1px), #a7def7 calc(100% - 1px));
    background-size: 35px 35px;
    background-repeat: repeat;
    background-position: center center;
}

img{
    display: block;
}

/*緑のグラウンド*/
.global-oval{
    position: fixed;
    left: 50%;
    bottom: -33vh;
    width: 120vw;
    height: 70vh;
    background: #61b0a4;
    border-radius: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    z-index: 0;
}

/*左側部分*/
.left-area{
    order: 1;
    width: 30vw;
    height: 100vh;
    position: sticky;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;
}

.left-inner{
    width: 100%;
    height: 100%;
    position: relative;
}
.left-wrap{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* 左エリアの基準サイズ */
    --left-base: min(30vw, 420px);
}

/*左のパズル装飾　上と下*/
.left-deco{
  position: absolute;
  inset: 0;
  z-index: 0;
}
.left-deco::before{
    content: "";
    position: absolute;
    top: -8%;
    left: 50%;
    transform: translateX(-48%);
    width: calc(var(--left-base) * 3.7);
    aspect-ratio: 4 / 1;
    background: url(img/pc-left-pazuru01.svg) no-repeat center / contain;
}
.left-deco::after{
    content: "";
    position: absolute;
    bottom: -7%;
    left: 50%;
    transform: translateX(-61%);
    width: calc(var(--left-base) * 2.7);
    aspect-ratio: 4 / 1;
    background: url(img/pc-left-pazuru02.svg) no-repeat center / contain;
}

/*左側内容*/
.left-content{
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left-logo{
  margin-top: clamp(120px, 20vh, 220px);
  width: clamp(200px, 80%, 320px);
  pointer-events: none;
}
.char1{
    position: absolute;
    width: 25%;
    top: 30%;
    left: 15%;
    transform: translateX(-50%);
    pointer-events: none;
}
.date-img{
    position: absolute;
    width: 70%;
    top: 37%;
    left: 17%;
    transform: rotate(-15deg);
}
.char2{
    position: absolute;
    width: 35%;
    top: 61%;
    left: 85%;
    transform: translateX(-50%);
    pointer-events: none;
}
/* 左側ここまで */


/*右側部分*/
header{
    order: 3;
    width: 30vw;
    height: 100vh;
    position: sticky;
    top: 0;

    z-index: 9999;
}
.menu-wrap{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* 右メニューの基準サイズ */
    --menu-base: min(30vw, 420px);
}

/*右のパズル装飾 上と下*/
.menu-wrap::before{
    content: "";
    position: absolute;
    top: -8%;
    left: 50%;
    transform: translateX(-50%);

    width: calc(var(--menu-base) * 3.7);
    aspect-ratio: 4 / 1;
    background: url(img/pc-right-pazuru01.svg) no-repeat center / contain;
}
.menu-wrap::after{
    content: "";
    position: absolute;
    bottom: -6%;
    left: 50%;
    transform: translateX(-35%);

    width: calc(var(--menu-base) * 2.0);
    aspect-ratio: 4 / 1;
    background: url(img/pc-right-pazuru02.svg) no-repeat center / contain;
}

/*メニュー部分*/
.menu{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transform: rotate(10deg);
}
.menu a img:not(.char4, .char-stand){
    z-index: 10;
    width: 22vw;
}
/*看板の棒*/
.menu::before{
    content: "";
    position: absolute;
    width: 7%;
    height: 180%;
    background: #d9d9d9;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;             /* 看板の裏に */
    border-radius: 4px 4px 10px 10px;
}
/*看板上のよくなるくん*/
.char3-body{
    position: absolute;
    width: 45%;            /* 看板幅基準 */
    top: -28%;             /* 看板高さ基準 */
    left: 20%;
    transform: translateX(-50%);
    z-index: -2;           /* 看板の後ろ */
    pointer-events: none;
}
.char3-arm{
    position: absolute;
    width: 11%;
    top: -9%;
    left: 35.5%;
    transform: translateX(-50%);
    z-index: 5;            /* 看板より前 */
    pointer-events: none;
}
/*看板下のよくなるくんと台*/
.puzzle-wrap{
    position: relative;
    width: 100%;
}
.menu-board{
    width: 100%;
    display: block;
}
.char4{
    position: absolute;
    width: 45.6%;
    left: 50%;
    bottom: -93%;
    transform: translateX(0.4%) translateY(-0.4%) rotate(-9.5deg);
    z-index: 3;
    pointer-events: none;
    transition: transform 0.3s ease;
}
.menu-item-last .char4{
    transform: translateX(3%) translateY(3%) rotate(-9deg);
}

.menu-item-last:hover .char4{
    transform: translateX(0.4%) translateY(-0.4%) rotate(-9.5deg);    
}
.char-stand{
    position: absolute;
    width: 30%;
    left: 65%;
    bottom: -176%;
    transform: rotate(-9deg);
    z-index: 2;
    pointer-events: none;
}
/*右側ここまで*/

/*main*/
.center{
    order: 2;
    width: 40vw;
    z-index: 1;
}

            /* 確認用ダミー */
            .test-scroll {
            width: 100%;
            }

            .test-block {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 48px;
            font-weight: bold;
            color: #333;
            }

            /* 見分けやすいように交互に色を変える */
            .test-block:nth-child(odd) {
            background: rgba(255, 255, 255, 0.6);
            }
            .test-block:nth-child(even) {
            background: rgba(0, 0, 0, 0.05);
            }

/* レスポンシブデザイン */
/*タブレット*/
@media (max-width: 1150px) {
    header {
        display: none;
    }
    .global-oval{
        bottom: -25vh;
        transform: translateX(-50%);
    }
    .left-deco::after{
        content: "";
        position: absolute;
        bottom: -17%;
        left: 50%;
        transform: translateX(-49%);
        width: calc(var(--left-base) * 6);
        aspect-ratio: 4 / 1;
        background: url(img/tablet-pazuru.svg) no-repeat center / contain;
    }
    .center{
        width: 65vw;
    }
    .left-area{
        width: 35vw;
    }
}
/*スマホ*/
@media (max-width: 768px) {
    .left-area {
        display: none;
    }

    body {
        justify-content: center;
    }
    .center{
        width: 100vw;
    }
}