@charset "UTF-8";

/*共通部分*/

html{
    font-size: 100%;/*ユーザーの設定した文字サイズを反映*/
    
}

body{
    
    font-family:"M PLUS 1","Zen Kaku Gothic New", sans-serif;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    gap: 0;

    color: #000;
    background: #fff;
    
    
}
.bg-grid{
    position: fixed;
    inset: 0;
    z-index: -2; 
    /* 方眼紙模様に必須のスタイル */
    background-image: linear-gradient(0deg, transparent calc(100% - 1px), #a7def7 calc(100% - 1px)),
    linear-gradient(90deg, transparent calc(100% - 1px), #a7def7 calc(100% - 1px));
    background-size: 35px 35px;
    background-repeat: repeat;
    background-position: center center;
}

img{
    display: block;
}

/*緑のグラウンド*/
.global-oval{
    position: fixed;
    left: 50%;
    bottom: -33vh;
    width: 120vw;
    height: 70vh;
    background: #61b0a4;
    border-radius: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    z-index: 0;
}

/*左側部分*/
.left-area{
    order: 1;
    width: 30vw;
    height: 100vh;
    position: sticky;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;
    overflow: hidden;
}

.left-wrap{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* 左エリアの基準サイズ */
    --left-base: min(30vw, 420px);
} 
.left-stage{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: var(--left-base);
  aspect-ratio: 3 / 5;   /* ← デザイン比率 */
  
  overflow: visible;    /* はみ出しOK */
}


/*左のパズル装飾　上と下*/
.left-deco, .right-deco{
  position: absolute;
  inset: 0;
  z-index: 4;
  pointer-events: none;
}
.left-deco::before{
    content: "";
    position: absolute;
    top: -13%;
    left: 50%;
    transform: translateX(-50%);
    width: 140%;
    aspect-ratio: 1.5 / 1;
    background: url(img/pc-left-pazuru01.svg) no-repeat center / contain;
}
.left-deco::after{
    content: "";
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translateX(-85%);
    width: 100%;
    aspect-ratio: 1.5 / 1;
    background: url(img/pc-left-pazuru02.svg) no-repeat center / contain;
}

/*左側内容*/
.left-content{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left-logo{
  margin-top: 35%;
  width: 65%;
  pointer-events: none;
}
.char1{
    position: absolute;
    width: 25%;
    top: 31%;
    left: 15%;
    transform: translateX(-50%);
    pointer-events: none;
}
.date-img{
    position: absolute;
    width: 65%;
    top: 40%;
    left: 17%;
    transform: rotate(-15deg);
}
.char2{
    position: absolute;
    width: 35%;
    top: 70%;
    left: 85%;
    transform: translateX(-50%);
    pointer-events: none;
}
/* 左側ここまで */


/*右側部分*/
.right-area{
    order: 3;
    width: 30vw;
    height: 100vh;
    position: sticky;
    top: 0;

    z-index: 9999;
}

.menu-wrap{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  --menu-base: min(30vw, 420px);
}
.right-stage{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: var(--menu-base);
  aspect-ratio: 3/5;        
  
  overflow: visible;
}


/*右のパズル装飾 上と下*/
.right-deco::before{
    content: "";
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);

    width: 350%;
    aspect-ratio: 4 / 1;
    background: url(img/pc-right-pazuru01.svg) no-repeat center / contain;
}
.right-deco::after{
    content: "";
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translateX(-35%);

    width: 200%;
    aspect-ratio: 4 / 1;
    background: url(img/pc-right-pazuru02.svg) no-repeat center / contain;
}
.char5{
    position: absolute;
    width: 30%;
    top: -3%;
    left: 98%;
    transform: translateX(-50%);
    pointer-events: none;
    z-index: -1;
}
/*メニュー部分*/
.menu{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transform: rotate(10deg);

    top: 33%;
    left: -5%;
}
.menu-scale{
  width: min(20vw, 320px);
  position: relative;
  z-index: 10;
}

/*看板の棒*/
.menu-scale::before{
    content: "";
    position: absolute;
    width: 7%;
    height: 160%;
    background: #d9d9d9;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;             /* 看板の裏に */
    border-radius: 4px 4px 10px 10px;
}
/*看板上のよくなるくん*/
.char3-body{
    position: absolute;
    width: 35%;            /* 看板幅基準 */
    top: -13%;             /* 看板高さ基準 */
    left: 17%;
    transform: translateX(-50%);
    z-index: -2;           /* 看板の後ろ */
    pointer-events: none;
}
.char3-arm{
    position: absolute;
    width: 10%;
    top: 1%;
    left: 29%;
    transform: translateX(-50%);
    z-index: 5;            /* 看板より前 */
    pointer-events: none;
}
/*看板下のよくなるくんと台*/
.puzzle-wrap{
    position: relative;
    width: 100%;
}
.menu-board{
    width: 100%;
    display: block;
    margin-top: 20px;
}
.char4{
    position: absolute;
    width: 45.6%;
    left: 50%;
    bottom: -93%;
    transform: translateX(0.4%) translateY(-0.4%) rotate(-9.5deg);
    z-index: 3;
    pointer-events: none;
    transition: transform 0.3s ease;
}
.menu-item-last .char4{
    transform: translateX(3%) translateY(3%) rotate(-9deg);
}

.menu-item-last:hover .char4{
    transform: translateX(0.4%) translateY(-0.4%) rotate(-9.5deg);    
}
.char-stand{
    position: absolute;
    width: 30%;
    left: 65%;
    bottom: -176%;
    transform: rotate(-9deg);
    z-index: 2;
    pointer-events: none;
}
/*右側ここまで*/



/*main*/
.center{
    order: 2;
    width: 40vw;
    z-index: 1;
    position: relative;
}
.center::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url(img/bg-pazuru.png);
    background-repeat: repeat-y;
    background-position: center top;
    background-size: 100% auto;
    z-index: -1;
}

            /* 確認用ダミー */
            .center-scroll {
            width: 100%;
            }

            .center-block {
                position: relative;
                min-height: 150vh;
                overflow: hidden;
            

            font-size: 48px;
            font-weight: bold;
            color: #333;
            }

            /* 見分けやすいように交互に色を変える */
           /* .center-block:nth-child(odd) {
            background: rgba(255, 255, 255, 0.6);
            }
            .center-block:nth-child(even) {
            background: rgba(0, 0, 0, 0.05);
            } */


article {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(img/bg-top.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 60%;
}

/*topの画像設定*/
.back-img {
    width: 100%;
}
.article-img1 {
    width: 25vw;
    margin-top: 4vh;
    position: relative;
    z-index: 1;
}
.article-img2 {
    position: relative;
    z-index: 2;
    width: 13vw;
    margin-top: 17vh;
}
.article-img3 {
    position: relative;
    z-index: 2;
    width: 15vw;
}
.article-img4 {
    position: absolute;
    top: calc(18vh + 29.5%);
    left: 0;
    right: 0;

    width: auto;
    height: 50vh;
    background-image: url(img/pc-senter-under.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 350% auto;
    z-index: 2;
    pointer-events: none;
}
.light {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 14vw;
    max-width: none;
    z-index: 1;
    pointer-events: none;
}

.top {
    position: absolute;
    top: calc(15vh + 20%);
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    gap: 6vw;
    z-index: 3;
}




/* レスポンシブデザイン */
/*タブレット*/
@media (max-width: 1150px) {
    header {
        display: none;
    }
    .global-oval{
        bottom: -25vh;
        transform: translateX(-50%);
    }
    .left-area{
        width: 35vw;
    }
    .left-deco::before{
        top: -50%;
        left: 50%;
        transform: translateX(-50%);
        width: 170%;
        aspect-ratio: 1.5 / 1;
        background: url(img/tablet-pazuru01.svg) no-repeat center / contain;
    }
    .left-deco::after{
        bottom: -70%;
        left: 50%;
        transform: translateX(-50%);
        width: 230%;
        aspect-ratio: 1.5 / 1;
        background: url(img/tablet-pazuru02.svg) no-repeat center / contain;
    }
    .left-logo{
        margin-top: 30%;
        width: 90%;
        pointer-events: none;
    }
    .char1{
        position: absolute;
        width: 35%;
        top: -8%;
        left: -3%;
        transform: translateX(-50%);
        pointer-events: none;
    }
    .date-img{
        position: absolute;
        width: 65%;
        top: 40%;
        left: 17%;
        transform: rotate(-5deg);
    }
    .char2{
        position: absolute;
        width: 45%;
        top: 70%;
        left: 70%;
        transform: translateX(-50%);
        pointer-events: none;
    }
    .center{
        width: 65vw;
    }
    
}
/*スマホ*/
@media (max-width: 768px) {
    .left-area {
        display: none;
    }
    body {
        justify-content: center;
    }
    .global-oval{
        display: none;
    }
    .center{
        width: 100vw;
    }
}